/*form {
    font-family: 'Times New Roman', Times, serif;

    .textarea {

              }

    .textarea
    {
        resize: none;
    }

    input[type=text], textarea {
        border-left: none;
        border-radius: 0;
        border-right: none;
        border-top: 0;
        box-shadow: none;
        font-family: 'Times New Roman', Times, serif;

        &.is-danger
        {
            color: $danger;
        }

    }
}*/