
<section>
    <div class="container social-container">
        <span class="fa-stack">
            <i class="fas fa-circle fa-stack-1x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
        <i class="fab fa-facebook"></i>
        <span class="fa-stack">
            <i class="fas fa-circle fa-stack-1x"></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
        </span>
    </div>
</section>
<section>
    <div class="container legal-container">
        Copyright &copy; Your Website 2016
    </div>
</section>
